.add-products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .add-products-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .add-products-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .add-products-form input[type="text"],
  .add-products-form input[type="number"],
  .add-products-form input[type="file"],
  .add-products-form textarea {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .add-products-form textarea {
    resize: vertical;
  }
  
  .add-products-form button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-products-form button:hover {
    background-color: #45a049;
  }
  