*{
    overflow-x: hidden;
}

.about{
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    background-image: url("../../public/assets/hero.svg");
    background-size: 250%;
   
    
    >p{
        font-size: 30px;
        color: white;
        text-wrap: wrap;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
}