

.login-outer{
    min-height: 90vh;
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C8363;
    background-size: cover;
    overflow: hidden;

    >.login{
        overflow: hidden;
        width: 30%;
        height: 60vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color:rgb(49, 71, 58);
        justify-content: space-around;
        align-items: center;
        text-align: center;
        color: white;
        box-shadow: 6px 6px 20px black;

        >h1{
            overflow: hidden;
        }
    >input{
        width: 70%;
        height: 3%;
        padding: 2%;
        border-radius: 10px;
        font-size: 16px;
        background-color: #7C8363;
        color: white
    }
    >button{
        width: 50%;
        height: 10%;
        border-radius: 10px;
        background-color: white;
        border:none;
        color: black;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 6px 6px 20px black;
        overflow: hidden;
    }
     
    
    }

   
}


.link{
    color:white;
    text-decoration: none;

}


@media only screen and (max-width : 620px){


    .signup-outer{


        .signup{
            margin-top: 150px;
            width: 75%;

            >input{
                height: 5%;
                width: 80%;
            }
        }
    }
    
    }


    ::placeholder{
        color: rgb(49, 71, 58);
    }