* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #181818;
  color: white;
  text-align: center;
  padding: 20px;
  > img {
    width: 30%;
    border-radius: 50%;
  }
  >img:hover{
    border: 5px solid white;
  }
}
