* {
  margin: 0;
  padding: 0;
}

.main {
  background-color:#333;
  background-image: url("../../public/assets/hero.svg");
  background-size: cover;
    min-height: 700px;
  color:white;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 90vh;

  >div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: text-slide;
 animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    >h1{
      font-size: 4em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    >p{
      font-size: 2em;
    }
  }

}

.profile{
  margin-top: 10%;
width: 30%;
 animation-name: slide;
 animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state:running;
    

}

@keyframes text-slide {
  0%{
    transform: translateX(200%);
  }
  30%{
    transform: translateX(0%);
  }
  
}

@keyframes slide {
  0%{
    transform: translateX(-100%);
  }
  30%{
    transform: translateX(0%);
  }
  
}
