.hero-container {
  padding-top: 15%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/romain-gal-wQFu_HhOiYg-unsplash.jpg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDF4F2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for text visibility */
  z-index: 1;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1  ;
  padding-bottom: 3%  ;
  overflow: hidden;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #31473A;
  color: #EDF4F2;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #31473A;
}

.heading{
  color: #EDF4F2;
}