.main{
    min-height: 90vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.headings{
        width: 90%;
        >ul{
            margin-top: 5%;
            margin-bottom: 2%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
>li{
    list-style: none;
  
    >a{
        text-decoration: none;
        background-color: #31473A;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;

    }
}
        }
    }
}

.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}